body {
  text-align: right;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Assistant", sans-serif !important;
  color: var(--color-2);
}

button {
  font-family: "Assistant", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8vh;
}
